<html lang="pt_br" xmlns:fb="http://ogp.me/ns/fb#">
<head>{% include 'head.html' %}
<title>Contato :: MVM Tecnologia</title>
</head>
<body>
	<script>
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id))
				return;
			js = d.createElement(s);
			js.id = id;
			js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>

	<div class="container-narrow">
		{% include 'menu.html' %}
		<hr>
		<noscript>Para sua melhor experiência no site, habilite seu
			JavaScript</noscript>
		<div class="contato-titulo ">Contato</div>
		<div class="jumbotron">
			<div class="alert msgContato" id="msgaviso" >
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<label id="labelwanind"></label>
			</div>

			<div class="alert alert-success msgContato" id="msgsuccess" >
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				Obrigado pelo contato, em breve estaremos respondendo!
			</div>

			<div class="contato-container">
				<div class="container-narrow">
					<select class="contato-select" id="ptype" style="height: 38px">
						<option value="Pessoa Física" id="pf">Pessoa Física</option>
						<option value="Pessoa Jurídica" id="pj">Pessoa Jurídica</option>
					</select><br> <input type="text" name="nome" value="" id="nome"
						size="40" class="contato-input" style="height: 38px"
						placeholder="Nome"><br>

					<input type="text" name="email" value="" id="email" size="40"
						class="contato-input" style="height: 38px"
						placeholder="Email"><br>

					<textarea name="message" id="message" cols="40" style="height: 193px;"
						class="contato-inputTextArea" placeholder="Mensagem"></textarea>
					<br> <input type="submit" value="Enviar"
						class="btn btn-success" id="enviarMsg" >
				</div>
			</div>
		</div>
		{% include 'footer.html' %}

	</div>
</body>
</html>