body {
	padding-top: 20px;
	padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
	margin: 0 auto;
	max-width: 800px;
}

.container-narrow>hr {
	margin: 30px 0;
	width: 830px;
}

/* Main marketing message and sign up button */
.jumbotron {
	margin: 40px 0;
	text-align: center;
}

.jumbotron h1 {
	font-size: 72px;
	line-height: 1;
}

.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
	margin: 60px 0;
}

.marketing p+h4 {
	margin-top: 28px;
}

.contato-input {
	width: 400px;
	height: 35px;
}

.contato-inputTextArea {
	margin: 0px 0px 10px;
	height: 261px;
	width: 400px;
}

.contato-container {
	margin-top: 40px;
}

.contato-titulo {
	margin-right: 450px;
	color: #22aeb3;
	font-size: 26px;
	border: 11px;
}

.contato-select {
	width: 400px;
	height: 35px;
}

.footer {
	margin-top: 100px;
}

noscript {
	color: #22aeb3;
}

.msgContato {
	width: 400px;
	margin-left: 177px;
}
.inputContato{
	height: 38px;
}